*{
  font-family: Georgia;
}

.logo {
  max-width: 100%;
  padding: 11px 0;
}

.logolink{
  display: inline-block;
}

.navbar-custom {
  background-color: #3355aa;
  font-style: italic;
  font-size: 16px;
  min-height: 40px;
}

.btn-default{
  background-color: #4e6dbb;
}

.glyphicon{
  color: white;
}


.navbarlinks > li > a:link, .navbarlinks > li > a:visited {
  color: white;
  padding:10px;
}

.navbar-default .navbarlinks > li > a:hover,.navbar-default .navbarlinks > li > a:focus {
   color: yellow;
}

.navbar-form{
  margin:3px 0 0 0;
}

.bannerFirst{
  box-shadow: 0px 0px 15px #888888;
  padding: 10px;
}

.banner p{
  margin-top: 20px;
  font-size: 15px;
  text-align: center;
}

.bannerImage{
  width: 100%;
}

.articles{
  list-style: none;
}

.articles h4{
  font-size: 16px;
  color: #3355aa;
  font-weight: bold;
  padding-bottom: 10px;
  border-bottom: 3px solid #ffb734;
}


.articles p{
  text-align: left;
  font-style: italic;
}

.articles span{
  color: grey;
  font-size: 10px;
}

.articles li{
  margin-bottom: 10px;
}

.blogs li{
  border-bottom: 1px solid #dedede;
}


.sector{
  background-color: #d4d4d4;
  padding-bottom: 75px;
  margin-top: 45px;
}

.sector h3{
  text-align: center;
  font-size: 28px;
  line-height:78px;
  font-weight:bold;
}

.sectorlink {
  display: inline-block;
}

.eachSector{
  background-color: white;
  padding: 5px;
  border-radius: 5px;
  border: 3px solid #bfbfbf;
}

.eachSector p{
  text-align: center;
  font-size: 16px;
  color: #3355aa;
  font-weight: bold;
  line-height: 32px;
  padding: 0 20px;
}

.box{
  height: 250px;
  background-color: gray;
}

.footer{
  background-color: #333333;
  color: #d4d4d4;
  line-height: 44px;
  padding-bottom: 35px;
}

.footer a:link, .footer a:visited{
  color: gray;
  text-decoration: none;
  padding: 20px 0;
}

.footer span{
  padding: 0 10px;
  border-right: 1px solid #bfbfbf;
}


.footer a:hover{
  color: white;
  text-decoration: none;
}


.footerlinks{
  border-bottom: 1px solid #3d3d3d;
}


.leftFooter{
  float: left;
  margin-bottom: 0px;
}


.leftFooter li{
  float: left;
  font-size: 15px;
}

.rightFooter{
  float: right;
  margin-bottom: 0px;
}

.rightFooter li{
  float: left;
  font-size: 11px;
}

.clears{
  clear: both;
}

.footer p{
  margin-bottom: 0px;
  margin-left: 10px;
}
