.container{
  width: 100%;
  margin: 0px auto;
}

.blue_box{
  height: 485px;
  width: 100%;
  background-color: #71c4ea;
}

.details{
  margin-left: 10%;
  margin-right: 10%;
}

.details_title{
  color: #444444;
  font-size: 36px;
  line-height: 36px;
  padding: 64px 0px 70px 0px;
  text-align: center;
  font-weight: bold;
}

.c {
  position: relative;
  width: 140px;
  height: 140px;
  -webkit-border-radius: 75px;
  -moz-border-radius: 75px;
  border-radius: 75px;
  background: #efefef;
}

.circle{
  display: inline-block;
  padding-left: 10%;
}

.circles{
  padding-bottom: 110px;
}

.details_text{
  font-size: 18px;
  color: #888888;
  width: 140px;
  padding-top: 15px;
  line-height: 22px;
  text-align: center;
}
